HELP.md
target/
.mvn/
mvnw
mvnw.cmd
!**/src/main/**
!**/src/test/**

/docs/node_modules/**
*.log
/docs/.cache
.DS_Store
/docs/src/.temp
/docs/dist
!.env.example
/docs/.env
/docs/.env.*

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
sendgrid.env
